/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Class */
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary{
    color: #2ada1a;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 2em;
}

.btn:hover{
    background: #2ada1a;
    color: #333;
}

.btn-light{
    background: #f4f4f4;
    color: #333;
}

.bg-light{
    background: rgb(143, 241, 130);
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}


.bg-primary{
    background: #2ada1ab9;
    color: #333;
}

.bg-secondary{
    background: #2ada1a;
    color: #333;
}

.logo{
    color: #fff;
}

.clr{
    clear: both;
}

/* Main Styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{
    color: #333;
    text-decoration: none;
}

#navbar{
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: inline-block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background: #444;
    color: #2ada1a;
    border-radius: 2em;
}

/* Reach Out */
#reach-out {
    background: rgb(247, 243, 232);
    padding-bottom: 15px;
}

#reach-out h1{
    padding-left: 186px;
    padding-top: 25px;
    font-size: 40px;
}

#reach-out p{
    padding-left: 186px;
    padding-top: 15px;
}

#reach-out .form{
    padding-left: 186px;
    padding-top: 20px;
    display: block;
    width: 100%;
}

#reach-out input[type=text], select, textarea{
    width: 80%; 
    padding: 15px 20px;
    border: 2px solid currentcolor; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 20px; 
    margin-bottom: 16px; 
    resize: vertical;
    text-align:left;
    display:block;
}

#reach-out .message{
    height: 200px;
}

input[type=submit] {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    display: block;
    
}



/* Features */
.box{
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
   
}

/* Footer */
#main-footer{
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}